$container-gutter-width: 22px;

$font-maps: (
  'CeraPRO':                            ( family: 'CeraPRO',       file: 'CeraPRO-Regular',          weight: 400, style: normal ),
  'CeraPROMedium':                      ( family: 'CeraPRO',       file: 'CeraPRO-Medium',           weight: 500, style: normal ),
  'CeraPROBold':                        ( family: 'CeraPRO',       file: 'CeraPRO-Bold',             weight: 700, style: normal ),
);

$font-weight-maps: (
  'normal': $font-weight-normal,
  'medium': $font-weight-medium,
  'bold': $font-weight-bold,
);

$font-size-maps: (
  'base': $font-size-base,
  'lg': $font-size-base * 1.125,
  'sm': $font-size-base * .75,
);

$lattice-styles: (
  'info',
  'secondary'
);

$triangles-styles: (
  'white'
);

$svg-icon-sizes: (
  'sm': 24px,
  'md': 30px,
  'lg': 41px
);

$section-border: 1px solid rgba($info, .5);
$header-z-index: 1000;