.clip-card {
  clip-path: polygon(-20px 40px, 40px -20px, 200% -20px, 200% 200%, -20px 200%);
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .clip#{$infix}-triangle {
      clip-path: polygon(0 54px, 54px 0, 100% 0, 100% calc(100% - 54px), calc(100% - 54px) 100%, 0 100%);
    }
  }
}