.letter-spacing {
  letter-spacing: 1.66px;
}

.letter-spacing-sm {
  letter-spacing: 0.44px;
}

.line-height-normal {
  line-height: 1.5;
}

.line-height-sm {
  line-height: 1.2;
}

.line-height-xs {
  line-height: 1;
}